* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eee;
}

/* Header */
header {
    background: #23003b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    text-decoration: underline;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav li {
    cursor: pointer;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left {
    flex: 2;
}

.left h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.left p {
    margin-bottom: 20px;
}

.left img {
    width: 100%;
}

.right {
    flex: 1;
    background: #1f3a70;
    color: white;
    padding: 20px;
}

.right h2 {
    text-decoration: underline;
    margin-bottom: 15px;
}

.right ul {
    margin-bottom: 20px;
}

.right li {
    margin-bottom: 10px;
}

.images {
    display: flex;
    gap: 10px;
}

.images img {
    width: 50%;
}

footer {
    background: linear-gradient(to right, purple, blue);
    color: white;
    text-align: center;
    padding: 10px;
}